

node_modules/
.SpaceVim.d/
project/install/
project/*/build/
project/*/*/build/

main
project/zlib/zlib-1.2.11/
project/curl/curl-7.64.1/
project/openssl/openssl-1.1.0g/
project/htop/htop-2.2.0/
project/libffi/libffi-3.2.1/
project/ncurses/ncurses-6.1/
project/valgrind/valgrind-3.14.0/
project/gdb/gdb/gdb-8.2.1/
project/gdb/gdbserver/gdb-8.2.1/
project/lua/lua-bitop/LuaBitOp-1.0.2/
project/lua/lua-cjson/lua-cjson-2.1.0/
project/lua/lua/lua-5.1.5/
project/tcpdump/libpcap/libpcap-1.9.1/
project/ffmpeg/fdk-aac/fdk-aac-2.0.1/
project/ffmpeg/ffmpeg/ffmpeg-4.2.1/
project/paho.mqtt.embedded-c/paho.mqtt.embedded-c-1.1.0/
project/tcpdump/tcpdump/tcpdump-4.9.3/


