# ===============================================================
# 
# Release under GPLv-3.0.
# 
# @file    .gitignore
# @brief   
# @author  gnsyxiang <gnsyxiang@163.com>
# @date    21/04 2021 09:12
# @version v0.0.1
# 
# @since    note
# @note     note
# 
#     change log:
#     NO.     Author              Date            Modified
#     00      zhenquan.qiu        21/04 2021      create the file
# 
#     last modified: 21/04 2021 09:12
# ===============================================================

#---------------
# ignore for vim
#---------------
.SpaceVim.d/
node_modules/
.clang
.ccls
.ccls-cache
.clang-format
compile_commands.json
package-lock.json

main

build/
src/


